.container {
  display: block;
  width: 100%;
  margin-top: 30px;
  ion-fab-button {
    display: block;
    /* left: 7%; */
    margin-left: 20px;
    margin-bottom: -43px;
    /* z-index: 1; */
    width: 25px !important;
    height: 25px !important;
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
}
